.profileContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 15px;
  text-align: center;
  font-family: arial;
  border-radius: 8px;
  background-color: #ffffff;
}

.profileName {
  text-align: center;
  font-size: 26px;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 150px;
}

.userJobBoardContainer {
	padding: 0px;
  text-align: left;
}

.userJobCard {
  margin: auto;
  margin-bottom: 5px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  width: 95%;
  
}

.userApplicationCard {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  border: 2px solid #172536;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  width: 90%;
  background-color: #ffffff;
}

.postedJobsHeader {
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: #172536;
  padding: 15px;
}

.logoutButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.userJobButton {
  display: inline-flexbox;
  width: 30%;
  padding: 3px;
  margin: 1px;
  border-width: 1px 1px 3px;
  border-radius: 5px;
  background-color: #172536;
  color: #f8f8f8;
  font-size: 12px;
  outline: 0;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bioText {
  text-align: left;
}

.statusText {
  text-align: center;
  font-size: 24px;
  color: #172536;
}

/* Card Stats */
.card__info {
  margin: 1em;
  margin-top: -15px;
  list-style-type: none;
  padding: 0;
}

.card__info li {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
}

.card__info__stats {
  color: var(--main-accent-color);
  font-weight: bold;
  font-size: 1.5em;
  display: block;
}

.card__info__stats + span {
  color: #969798;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

/* Green Avatar Badge */
.ring-container {
  position: relative;
}

.circle {
  width: 18px;
  height: 18px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  bottom: 12.5px;
  right: 101px;
  border: 2px solid white;
}

.ringring {
  border: 3px solid #62bd19;
  -webkit-border-radius: 100px;
  height: 27px;
  width: 27px;
  position: absolute;
  bottom: 8.5px;
  right: 97px;
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}