

.profileContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-family: arial;
  border-radius: 8px;
  background-color: #ffffff;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 150px;
}

.userJobBoardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-family: arial;
  border-radius: 8px;
}

.userJobCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  width: 90%;
  background-color: #ffffff;
}

.postedJobsHeader {
  text-align: center;
  padding: 10px;
}

.logoutButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.userJobButton {
  display: inline-flexbox;
  width: 30%;
  padding: 3px;
  margin: 1px;
  border-width: 1px 1px 3px;
  border-radius: 5px;
  background-color: #172536;
  color: #f8f8f8;
  font-size: 12px;
  outline: 0;
  cursor: pointer;
  
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;

}

.bioText {
  text-align: left;
}
