.profileContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-family: arial;
  border-radius: 8px;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 150px;
}

.userJobBoardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-family: arial;
  border-radius: 8px;
}
