.jobFormPanel {
	box-sizing: border-box;
	width: 90%;
	max-width: 100%;
	padding: 25px;
	margin: 0 auto 20px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.jobInput {
	width: 100%;
	padding: 8px;
	margin: 5px;
}

.textField {
	margin-bottom: 5px;
}