h2 {
  text-align: center;
}

.jobCard {
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;

  margin: auto;
  padding: 3px;
  padding-left: 20px;
  width: 90%;
  /* border-radius: 8px; */
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
}

.applyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #172536;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.jobBoardContainer {
	padding: 0px;
}
