h2 {
  text-align: center;
}

.jobCard {
  /* border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  margin: auto;
  margin-bottom: 5px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  width: 93%;
  /* background-color: #ffffff; */
}

.detailsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #172536;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.jobBoardContainer {
	padding: 0px;
  text-align: left;
}

.jobBoardImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 8px;

}

.jobBoardHeadline {
  text-align: left;
}
