h2 {
  text-align: center;
}

.jobCard {
  border-bottom: 1px solid black;
  margin: auto;
  padding: 3px;
  padding-left: 20px;
  width: 90%;
}

.detailsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #172536;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.jobBoardContainer {
	padding: 0px;
}

.jobBoardImage {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
