.applicationItem {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 90%;
	margin: auto;
	margin-bottom: 8px;
	padding: 15px;
	text-align: left;
	font-family: arial;
	border-radius: 8px;
	background-color: #ffff;
  }

.applicationDetailsButton {
	display: flex;
	justify-content: center;
	align-items: center;
}

.applicationDetailsHeader {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;

}

.sorryCard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 90%;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 15px;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	font-family: arial;
	border-radius: 8px;
	background-color: #ffffff;
}

.sorry {
	text-align: left;
}